<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- type에 지정된 some.package.name.ClassName을 alias에 지정된 이름으로 대체하는 설정 -->
	<typeAliases>
		<typeAlias type="com.spacerental.vo.Member" alias="Member" />
		<typeAlias type="com.spacerental.vo.Space" alias="Space" />
		<typeAlias type="com.spacerental.vo.SpaceFile" alias="SpaceFile" />
		<typeAlias type="com.spacerental.vo.Host" alias="Host" />
		<typeAlias type="com.spacerental.vo.Notice" alias="Notice" />
		<typeAlias type="com.spacerental.vo.Lose" alias="Lose" />
		<typeAlias type="com.spacerental.vo.LoseFile" alias="LoseFile" />
		<typeAlias type="com.spacerental.vo.Rent" alias="Rent" />
		<typeAlias type="com.spacerental.vo.Review" alias="Review" />
		<typeAlias type="com.spacerental.common.Pagination" alias="Pagination" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@211.197.18.246:1551:xe" />
				<property name="username" value="space" />
				<property name="password" value="cloud" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- SQL + Object Mapping Configuration -->
	<mappers>
		<mapper resource="com/spacerental/mapper/member-mapper.xml" />
		<mapper resource="com/spacerental/mapper/space-mapper.xml" />
		<mapper resource="com/spacerental/mapper/host-mapper.xml" />
		<mapper resource="com/spacerental/mapper/notice-mapper.xml" />
		<mapper resource="com/spacerental/mapper/lose-mapper.xml"/>
		<mapper resource="com/spacerental/mapper/rent-mapper.xml"/>
		<mapper resource="com/spacerental/mapper/aboutus-mapper.xml"/>
	</mappers>
</configuration>