<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spacerental.mapper.HostMapper">
	<sql id="hostBasicColumns">
		hostNo, hostId, name, content, type, address, parking, open, holiday 
	</sql>
	
	<select id="selectHost" resultType="Host">
		select <include refid="hostBasicColumns" />, ok
		from host
	</select>
	
	<select id="selectHostByHostNo" parameterType="int" resultType="Host">
		select <include refid="hostBasicColumns" />, ok
		from host
		where hostNo = #{ hostNo }
	</select>
	
	<select id="selectHostFile" parameterType="int" resultType="SpaceFile">
		select sf.savedfilename
		from host h, space s, spacefile sf
		where h.hostno = s.hostno 
		and s.spaceno = sf.spaceno 
		and sf.flag = 1 
		and h.hostno = #{ hostNo }
	</select>
	
	<!-- detail-files -->
	<select id="selectHostFilesByHostNo" parameterType="int" resultType="SpaceFile">
		select sf.savedfilename
		from host h, space s, spacefile sf
		where h.hostno = s.hostno 
		and s.spaceno = sf.spaceno  
		and h.hostno = #{ hostNo }
	</select>
	
	<!--  host등록   -->    	
	<insert id="insertHost" parameterType="Host" useGeneratedKeys="true" keyColumn="hostNo" keyProperty="hostNo">
		INSERT INTO HOST(
			<include refid="hostBasicColumns" />
		) VALUES(
			HOST_SEQUENCE.NEXTVAL
			, #{ hostId }
			, #{ name }
			, #{ content }
			, #{ type }
			, #{ address }
			, #{ parking }
			, #{ open }
			, #{ holiday }
		) 
	</insert>
</mapper>