<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spacerental.mapper.HostMapper">
	<sql id="hostBasicColumns">
		hostNo, hostId, name, content, type, address, parking, openStart, openEnd, holiday 
	</sql>
	
	<!-- 총 게시글 개수 확인 -->
	<select id="selectHostListCnt" parameterType="hashmap" resultType="int">
		select count(*) as listCnt
		from host
			<if test="type != 'all'">
				where type like '%' || #{ type } || '%'
			</if>
	</select>

	<select id="selectHost" parameterType="hashmap" resultType="Host">
		select * from (select <include refid="hostBasicColumns" />, ok, rownum as rnum
		from host
			<if test="type != 'all'">
				where type like '%' || #{ type } || '%'
			</if>
		order by hostNo desc)
        where rnum between #{ startList } and #{ endList }
	</select>
	
	
	<select id="selectHostByHostNo" parameterType="int" resultType="Host">
		select <include refid="hostBasicColumns" />, ok
		from host
		where hostNo = #{ hostNo }
	</select>
	
	<select id="selectHostFile" parameterType="int" resultType="SpaceFile">
		select sf.savedfilename
		from host h, space s, spacefile sf
		where h.hostno = s.hostno 
		and s.spaceno = sf.spaceno 
		and sf.flag = 1 
		and h.hostno = #{ hostNo }
		and rownum = 1
	</select>
	
	<!-- detail-files -->
	<select id="selectHostFilesByHostNo" parameterType="int" resultType="SpaceFile">
		select sf.savedfilename
		from host h, space s, spacefile sf
		where h.hostno = s.hostno 
		and s.spaceno = sf.spaceno  
		and h.hostno = #{ hostNo }
	</select>
	
	<!--  host등록   -->    	
	<insert id="insertHost" parameterType="Host" useGeneratedKeys="true" keyColumn="hostNo" keyProperty="hostNo">
		INSERT INTO HOST(
			<include refid="hostBasicColumns" />
		) VALUES(
			HOST_SEQUENCE.NEXTVAL
			, #{ hostId }
			, #{ name }
			, #{ content }
			, #{ type }
			, #{ address }
			, #{ parking }
			, #{ openStart }
			, #{ openEnd }
			, #{ holiday }
		) 
	</insert>
	
	<insert id="insertHost2" parameterType="Host">
		<selectKey keyProperty="hostNo" order="AFTER" resultType="int">
			SELECT HOST_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO HOST(
			<include refid="hostBasicColumns" />
		) VALUES(
			HOST_SEQUENCE.NEXTVAL
			, #{ hostId }
			, #{ name }
			, #{ content }
			, #{ type }
			, #{ address }
			, #{ parking }
			, #{ openStart }
			, #{ openEnd }
			, #{ holiday }
		) 
	</insert>
	
	<update id="updateHost" parameterType="Host">
		update host
		set content = #{ content }
			, address = #{ address }
			, parking = #{ parking }
			, openStart = #{ openStart }
			, openEnd = #{ openEnd }
			, holiday = #{ holiday }
		where hostNo = #{ hostNo }
	</update>
	
	<select id="searchaddlist" parameterType="String" resultType="Host">
		select hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		from host
		WHERE ADDRESS LIKE '%'||#{ value }||'%'
		order by hostNo DESC 
	</select>
	
	<select id="searchspacelist" parameterType="String" resultType="Host">
		select hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		from host
		WHERE type LIKE '%'||#{ value }||'%'
		order by hostNo DESC 
	</select>
	
	<select id="searchPClist" resultType="Host">
		SELECT hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		FROM host
		WHERE hostNo IN (SELECT hostNo FROM SPACE WHERE computer='1')
		order by hostNo DESC 
	</select>
	<select id="searchBeamlist" resultType="Host">
		SELECT hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		FROM host
		WHERE hostNo IN (SELECT hostNo FROM SPACE WHERE bim ='1')
		order by hostNo DESC 
	</select>
	<select id="searchWifilist" resultType="Host">
		SELECT hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		FROM host
		WHERE hostNo IN (SELECT hostNo FROM SPACE WHERE wifi='1')
		order by hostNo DESC 
	</select>
	<select id="searchTenlesslist" resultType="Host">
		SELECT hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		FROM host
		where hostNo IN (<![CDATA[select hostNo from space where maximum < 10]]>)
		order by hostNo DESC
	</select> 
	<select id="searchTenmorelist" resultType="Host">
		SELECT hostNo, hostId, name, content, type, address, parking, openstart, openend, holiday, ok
		FROM host
		WHERE hostNo IN (<![CDATA[SELECT hostNo FROM SPACE WHERE maximum > 9]]>)
		order by hostNo DESC  
	</select>
	
	<delete id="deleteHost" parameterType="int">
		delete from host
		where hostNo = #{ hostNo }
	</delete>
	
	<delete id="deleteSpaceByHostNo" parameterType="int">
		delete from space
		where hostNo = #{ hostNo }
	</delete>
</mapper>