<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacerental.mapper.MemberMapper">

	<!-- 회원관리 -->
	<insert id="insertMember" parameterType="Member">	
		insert into Member (id, passwd, name, phone, type) 
		values (#{ id }, #{ passwd }, #{ name }, #{ phone }, #{ type })
	</insert>
	
	<select id="selectMemberByIdAndPasswd" parameterType="hashmap" resultType="Member">
		select id, passwd, name, phone, type 
		from Member 
		where id = #{ id } and passwd = #{ passwd }
	</select>
	
	<select id="selectHostList" parameterType="String" resultType="Host">
		select name, content, type, address, parking, hostNo, hostId, holiday, openStart, openEnd, ok
		from Host
		where hostId = #{ hostId }
	</select>
	
	<select id="selectOkHostList" resultType="Host">
		select name, content, type, address, parking, hostNo, hostId, holiday, openStart, openEnd, ok
		from Host
		where ok = #{ ok }
	</select>
	
	<select id="selectHostFile" parameterType="int" resultType="SpaceFile">
		select sf.savedfilename
		from host h, space s, spacefile sf
		where h.hostNo = s.hostNo
		and s.spaceno = sf.spaceno 
		and sf.flag = 1 
		and h.hostNo = #{ hostNo }
		and rownum = 1
	</select>
	
	<select id="selectLoseList" parameterType="String" resultType="Lose">
		select loseNo, title, content, loseDate, hostNo, type, uploader
		from lose
		where uploader = #{ uploader }
		and type like '분실물' 
	</select>
	
	<select id="selectAllHostList" parameterType="int" resultType="Host">
		select name, ok, type, address, hostNo, hostId, holiday, openStart, openEnd
		from Host
		where hostNo = #{ hostNo }
		order by hostNo desc
	</select>
	
	<update id="updateMember" parameterType="Member">
		update Member
		set passwd = #{ passwd }, phone = #{ phone }
		where id = #{ id }
	</update>
	
	<update id="updateOk" parameterType="Host">
		update host
		set ok = #{ ok }
		where hostNo = #{ hostNo }
	</update>
	
	<delete id="deleteMember" parameterType="String">
		delete from Member
		where id = #{ id }
	</delete>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*)
		from Member
		where id = #{ id }
	</select>
	
</mapper>