<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacerental.mapper.SearchMapper">

	<select id="searchroomlist" parameterType="String" resultType="Notice">
		SELECT uploadNo, bookName, bookAuthor, bookPublisher, regDate, segNo
		FROM BOOKUPLOAD
		WHERE  bookName  LIKE  '%'||#{ value }||'%'
	</select>
	<select id="searchaddlist" parameterType="String" resultType="Notice">
		SELECT uploadNo, bookName, bookAuthor, bookPublisher, regDate, segNo
		FROM BOOKUPLOAD
		WHERE  bookName  LIKE  '%'||#{ value }||'%'
	</select>
	<select id="searchlosslist" parameterType="String" resultType="Notice">
		SELECT uploadNo, bookName, bookAuthor, bookPublisher, regDate, segNo
		FROM BOOKUPLOAD
		WHERE  bookName  LIKE  '%'||#{ value }||'%'
	</select>
	
	
</mapper>
