<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spacerental.mapper.SpaceMapper">
	<sql id="spaceBasicColumns">
		spaceNo, spaceName, content, maximum, bim, smoking, food, wifi, computer, hostid
	</sql>
	<sql id="spaceFileBasicColumns">
		spaceFileNo, spaceNo, savedFileName, flag
	</sql>
	
	<select id="selectSpace" resultType="Space">
		SELECT <include refid="spaceBasicColumns" /> FROM SPACE 
	</select>
	
	<select id="selectSpaceFile">
		SELECT <include refid="spaceFileBasicColumns" /> FROM SPACEFILE
	</select>
	
	<select id="selectSpaceBySpaceNo" parameterType="int" resultType="Space">
		select <include refid="spaceBasicColumns"/> 
		from space
		where spaceno = #{ spaceNo } 
	</select>
	
	<select id="selectSpaceFilesBySpaceNo" parameterType="int" resultType="SpaceFile">
		select <include refid="spaceFileBasicColumns"/> 
		from spacefile
		where spaceno = #{ spaceNo } 
	</select>
	
	<select id="selectSpacesByHostNo" parameterType="int" resultType="Space">
		select <include refid="spaceBasicColumns"/> 
		from space
		where hostNo = #{ hostNo } 
	</select>
	
	
	<insert id="insertSpace" parameterType="Space">
		<selectKey keyProperty="spaceNo" order="AFTER" resultType="int">
			SELECT SPACE_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO SPACE(
			spaceNo, spaceName, content, maximum, bim, smoking, food, wifi, computer, hostNo, hostId
		)
		VALUES
		(
			SPACE_SEQUENCE.NEXTVAL
			, #{ spaceName }
			, #{ content }
			, #{ maximum }
			, #{ bim }
			, #{ smoking }
			, #{ food }
			, #{ wifi }
			, #{ computer }
			, #{ hostNo }
			, #{ hostId }
		)
	</insert>
	
	<insert id="insertSpaceFile" parameterType="SpaceFile">
		INSERT INTO SpaceFILE(
			<include refid="spaceFileBasicColumns" />
		)
		VALUES
		(
			SPACEFILE_SEQUENCE.NEXTVAL
			, #{ spaceNo }
			, #{ savedFileName }
			, #{ flag }
		)
	</insert>

</mapper>