<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spacerental.mapper.SpaceMapper">
	<sql id="spaceBasicColumns">
		spaceNo, spaceName, content, maximum, bim, smoking, food, wifi, computer, hostNo, hostid
	</sql>
	<sql id="spaceFileBasicColumns">
		spaceFileNo, spaceNo, savedFileName, flag
	</sql>
	
	<select id="selectSpaceFile" parameterType="int" resultType="SpaceFile">
		SELECT <include refid="spaceFileBasicColumns" />
		FROM SPACEFILE
		where spaceNo = #{ spaceNo }
		and flag = 1
	</select>
	
	<select id="selectSpaceBySpaceNo" parameterType="int" resultType="Space">
		select <include refid="spaceBasicColumns"/> 
		from space
		where spaceno = #{ spaceNo } 
	</select>
	
	<select id="selectSpaceFilesBySpaceNo" parameterType="int" resultType="SpaceFile">
		select <include refid="spaceFileBasicColumns"/> 
		from spacefile
		where spaceno = #{ spaceNo } and flag = 0
	</select>
	
	<select id="selectSpaceFileBySpaceFileNo" parameterType="int" resultType="SpaceFile">
		select <include refid="spaceFileBasicColumns"/>  
		from spacefile
		where spacefileno = #{ spaceFileNo }
	</select>
	
	<select id="selectSpacesByHostNo" parameterType="int" resultType="Space">
		select <include refid="spaceBasicColumns"/> 
		from space
		where hostNo = #{ hostNo } 
	</select>
	
	
	<insert id="insertSpace" parameterType="Space">
		<selectKey keyProperty="spaceNo" order="AFTER" resultType="int">
			SELECT SPACE_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO SPACE(
			spaceNo, spaceName, content, maximum, bim, smoking, food, wifi, computer, hostNo, hostId
		)
		VALUES
		(
			SPACE_SEQUENCE.NEXTVAL
			, #{ spaceName }
			, #{ content }
			, #{ maximum }
			, #{ bim }
			, #{ smoking }
			, #{ food }
			, #{ wifi }
			, #{ computer }
			, #{ hostNo }
			, #{ hostId }
		)
	</insert>
	
	<insert id="insertSpaceFile" parameterType="SpaceFile">
		INSERT INTO SpaceFILE(
			<include refid="spaceFileBasicColumns" />
		)
		VALUES
		(
			SPACEFILE_SEQUENCE.NEXTVAL
			, #{ spaceNo }
			, #{ savedFileName }
			, #{ flag }
		)
	</insert>
	
	<update id="updateSpace" parameterType="Space">
		update space
		set spaceName = #{ spaceName }
			, content = #{ content }
			, maximum = #{ maximum }
			, bim = #{ bim }
			, smoking = #{ smoking }
			, food = #{ food }
			, wifi = #{ wifi }
			, computer = #{ computer }
		where spaceNo = #{ spaceNo }
	</update>
	
	<update id="updateSpaceFile" parameterType="SpaceFile">
		update spacefile
		set savedFileName = #{ savedFileName }
		where spaceNo = #{ spaceNo } and flag = 1
	</update>
	
	<delete id="deleteSpace" parameterType="int">
		delete from space
		where spaceNo = #{ spaceNo }
	</delete>
	
	<delete id="deleteSpaceFile" parameterType="int">
		delete from spacefile
		where spaceFileNo = #{ spaceFileNo }
	</delete>

	<!-- =========================================
						Review 
	============================================= -->
	
	<sql id="reviewBasicColumns">
		reviewNo, groupNo, step, depth, content, writer, spaceNo
	</sql>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO Review
		(
			<include refid="reviewBasicColumns"/>
		)
		VALUES
		(
			Review_SEQUENCE.NEXTVAL
			, Review_SEQUENCE.CURRVAL
			, 1
			, 0
			, #{content}
			, #{writer}
			, #{spaceNo}
		)
	</insert>
	
	<update id="updateReview" parameterType="Review">
		UPDATE Review
		SET CONTENT = #{ content }
		WHERE reviewNo = #{ reviewNo }
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM Review			
		WHERE reviewNo = #{ reviewNo }
	</delete>	
	
	<!-- ============================================
							reReview 
		============================================= -->
	
	<select id="selectReviewByReviewNo" 
		parameterType="int" resultType="Review">
		SELECT <include refid="reviewBasicColumns"/>, regDate
		FROM Review 
		WHERE reviewNo = #{ reviewNo }
	</select>
	
	<update id="updateReviewStep" parameterType="Review">
		UPDATE Review
		SET STEP = STEP + 1
		WHERE GROUPNO = #{ groupNo } AND STEP <![CDATA[>]]> #{ step }
	</update>
	
	<insert id="insertComment" parameterType="Review">
		INSERT INTO Review
		(
			<include refid="reviewBasicColumns"/>
		)
		VALUES
		(
			Review_SEQUENCE.NEXTVAL
			, #{groupNo}
			, #{step}
			, #{depth}
			, #{content}
			, #{writer}
			, #{spaceNo}
		)	
	</insert>
	
	<select id="selectReviewsBySpaceNo" 
		parameterType="int" resultType="Review">
		SELECT <include refid="reviewBasicColumns"/>, regDate
		FROM Review 
		WHERE spaceNO = #{ spaceNo } ORDER BY GROUPNO DESC, STEP ASC 
	</select>

</mapper>